{% extends 'squirrel/base.html' %}

{% load static %}

{% block title %} All Sightings {% endblock %}

{% block main %}
  <body>

          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
            <h1 class="h2">Sightings List</h1>
            <div class="btn-toolbar mb-2 mb-md-0">
              <div class="btn-group mr-2">
        	<button class="btn btn-sm btn-outline-secondary">Add</button>
                <button class="btn btn-sm btn-outline-secondary">Export</button>
              </div>
              <button class="btn btn-sm btn-outline-secondary dropdown-toggle">
                <span data-feather="calendar"></span>
                This week
              </button>
            </div>
          </div>

  
          <div class="table-responsive">
            <table class="table table-striped table-sm">
              <thead>
                <tr>
                  <th>Unique Squirrel ID</th>
                  <th>Date</th>
                  <th>View Details</th>
                </tr>
              </thead>
              <tbody>
        	{% for squirrel in object_list %}
        		<tr>
                 	<td>{{ squirrel.unique_squirrel_id }}</td>
                 	<td>{{ squirrel.date }}</td>
                 	<td><a href="{% url 'squirrel:sightings-detail' squirrel.pk %}">View Details</a></td>
        		</tr>
    		{% endfor %}
              </tbody>
            </table>
          </div>
      </div>
    </div>

{% endblock main %} 
